.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Cutive Mono', Courier, monospace;
}
.Page > img {
    width: 500px;
    border-radius: 20px;
}

@media only screen and (max-width: 800px){
    .Page > img {
        width: 90vw;
    }
}